<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>Click me!</p>

<select id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

<p class="hover">Click me!</p>

<input type="text">
<input type="text" id='blur'>

<hr>

<p id='target_par'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga optio, officiis exercitationem aut saepe animi eaque laudantium, excepturi dolorem accusantium iure nihil praesentium illum beatae. Sint adipisci voluptas velit vitae.</p>

<button id='hide'>Ocultar</button>
<button id='show'>Mostrar</button>
<button id='slide'>Slide</button>
<button id='fadeOut'>fadeOut</button>
<button id='fadeIn'>fadeIn</button>
<button id='fadeToggle'>fadeToggle</button>

<hr>

<p id='origin' style="color:chocolate">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat nam, velit adipisci ipsum ad dolorum officiis non, aliquam blanditiis maxime omnis, est consequatur ipsa aperiam. Quasi, nam! Est, ipsum nesciunt?</p>
<p id='destiny'>Short text</p>
<button id='swap'>Swap</button>

<hr>

<select id="select-box">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>

<p id="option-1" class="options" style="display: node;">Opción 1 seleccionada</p>
<p id="option-2" class="options" style="display: node;">Opción 2 seleccionada</p>
<p id="option-3" class="options" style="display: node;">Opción 3 seleccionada</p>

<a href="http://google.com">Ir a Google</a>
<button id="changeHref">Change Href</button>

<hr>

<ul id="list">
    <li>Some list</li>
    <li>Some list</li>
    <li>Some list</li>
</ul>

<button id="emptyList">Empty list</button>
<button id="removeList">remove list</button>